tr:hover .table {
    background-color: lightslategrey;
    scale: 1.05;
    transition: 0.2s;
}
.table{
    padding: 3px;
    border: 1px solid black;
}
body{
    margin: 0;
}
.contner{
    padding-top: 50px;
    width: 900px;
    margin: 0 auto;
}
.details{
    width: 30px;
}
.header{
    background-color: grey;
    height: 150px;
    box-shadow: 0px 10px 500px black;
}
.header h1{
    font-size: 80px;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 5px 2px 5px black;
}
.bouton{
    background-color: grey;
    color: white;
    text-shadow: 5px 2px 5px black;
    padding: 7px;
    border-radius: 10px;

}

.acceuil form{
    float: right;
}